.overlay {
  position: fixed;
  top: 120px; /* Фиксированная высота хедера */
  left: 0;
  width: 100%;
  height: calc(100vh - 80px); /* Высота оверлея с учетом хедера */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
  display: none;
}

.overlay.active {
  display: block;
}

.menu-login {
  position: fixed;
  top: 130px; /* Фиксированная высота хедера + отступ */
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: top 0.3s ease;
}

/* Если header уменьшен */
.header-container.scrolled .menu-login {
  top: 80px; /* Уменьшаем отступ на 20px */
}

.menu-login .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

.menu-login .close-button:hover {
  color: rgb(0, 26, 114);
}

.login-form h3 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: center; /* Выравнивание лейблов по центру */
}

.form-group input {
  width: 90%; /* Уменьшаем ширину полей */
  margin: 0 auto; /* Центрируем поля */
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: block;
}

button[type='submit'] {
  width: 90%; /* Ширина кнопки */
  padding: 10px;
  background-color: rgb(0, 26, 114);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 0 auto;
  display: block;
}

button[type='submit']:hover {
  background-color: #0056b3;
}

button[type='submit']:focus,
button[type='submit']:active {
  outline: none;
  box-shadow: none;
}

/* Стиль для ссылки Зарегистрироваться */
.register-link {
  display: block;
  text-align: center;
  color: #6c757d; /* Серый цвет */
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.register-link:hover {
  color: rgb(0, 0, 114); /* Синий при наведении */
  text-decoration: underline; /* Подчеркнуто при наведении */
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 768px) {
  .menu-login {
    width: 80%; /* Ширина формы для мобильных устройств */
    top: 80px; /* Поднимаем форму немного выше на мобильных */
  }

  /* Если header уменьшен */
  .header-container.scrolled .menu-login {
    top: 60px; /* Уменьшаем отступ на 20px */
  }

  .overlay.active {
    background-color: rgba(0, 0, 0, 0.6); /* Немного меньше затемнение на мобильных */
  }
}