.notification {
    position: fixed;
    top: 100px;
    right: -400px;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 250px;
    max-width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: bold;
    z-index: 1002;
    opacity: 0;
}

.notification.show {
    animation: slideIn 0.3s forwards;
}

@keyframes slideIn {
    0% {
        right: -400px;
        opacity: 0;
    }
    100% {
        right: 20px;
        opacity: 1;
    }
}

.notification.hide {
    animation: slideOut 0.3s forwards;
}

@keyframes slideOut {
    0% {
        right: 20px;
        opacity: 1;
    }
    100% {
        right: -400px;
        opacity: 0;
    }
}

.notification.success {
    background-color: #7abf26;
}


.notification.error {
    background-color: rgb(214, 0, 28);
}

.close-btn-notification {
    background: none;
    background-color: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-left: 15px;
}


