.header-container {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  max-height: 160px;
  transition: background-color 0.3s ease, padding 0.3s ease, font-size 0.3s ease;
  justify-content: space-between;
}

.left-components,
.right-components {
  width: 170px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  min-width: 100px; 
}

.middle-components {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin: 0 20px;
  box-sizing: border-box;
}

.middle-components img {
  height: 100px;
  width: auto;
  max-height: 100%;
}

.header-container.scrolled {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  padding: 0px 20px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: rgb(0, 26, 114);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}


@media (max-width: 425px) {
  .header-container {
    padding: 8px 10px;
  }

  .middle-components {
    order: 1;
    width: auto;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .left-components {
    order: 3;
    margin-right: 0;
  }

  .right-components {
    order: 2;
    margin-left: 40px;
  }

  .middle-components img {
    height: 70px;
    margin: 0;
  }
}

@media (max-width: 375px) {
  .middle-components img {
    height: 60px;
  }

  .left-components,
  .right-components {
    gap: 5px;
    margin-left: 20px;
  }
}

@media (max-width: 320px) {
  .middle-components img {
    height: 50px;
  }

  .right-components button,
  .menu-button {
    padding: 8px 10px;
    font-size: 12px;
  }
  
  .left-components,
  .right-components {
    gap: 5px;
    margin-left: 30px;
  }
}