.header-container {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  max-height: 160px;
  transition: background-color 0.3s ease, padding 0.3s ease, font-size 0.3s ease;
  justify-content: space-between; /* Оставляем */
}

/* Сделаем левый и правый блок фиксированной ширины (если надо) */
.left-components,
.right-components {
  width: 170px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0; /* Чтобы не сжимались */
  min-width: 100px; /* Можно подкорректировать под контент */
}

/* Средний блок — центрируем с помощью flex */
.middle-components {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;          /* Занимает всё доступное пространство */
  margin: 0 20px;        /* Отступы слева и справа для отступа от боковых блоков */
  box-sizing: border-box;
}

/* Картинка */
.middle-components img {
  height: 100px;
  width: auto;
  max-height: 100%;
}

/* При скролле */
.header-container.scrolled {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  padding: 0px 20px;
}


/* Мобильные стили */
@media (max-width: 425px) {
  .header-container {
    padding: 10px;
  }
  .middle-components img {
    height: 40px;
    margin: 5px 0;
  }
  .left-components img {
    width: 40px;
    height: 40px;
  }
  .right-components button {
    padding: 6px 10px;
    font-size: 14px;
  }
  .menu-button {
    padding: 6px 10px;
    font-size: 14px;
  }
}
