  .add-content-button {
      position: relative;
      display: inline-block;
  }
  
  .dropdown-content {
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ccc;
  }
  
  .icon-button {
    width: 100%;
    padding: 12px;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #333c56;
  }
  
  .icon-button:hover {
    background-color: #f1f1f1;
  }
  
  .add-button-content {
    margin-top: 12px;
    padding: 8px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    background-color: #008779;
    color: white;
    border: none;
  }
  
  .add-button-content:hover {
    background-color: #00c3cb;
  }