.timeline-container {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

.timeline-line {
  position: absolute;
  width: 4px;
  background-color: rgb(0, 26, 114);
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.timeline-events {
  position: relative;
  width: 100%;
}

.timeline-event {
  position: relative;
  margin-bottom: 40px;
  min-height: 120px;
}

.timeline-event-left {
  width: calc(50% - 20px);
  margin-right: 20px;
}

.timeline-event-right {
  width: calc(50% - 20px);
  margin-left: calc(50% + 20px);
}

.timeline-event-content {
  background: white;
  border-radius: 8px;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  position: relative;
  z-index: 2;
  min-height: 120px;
  width: 100%;
  transition: all 1s ease;
  cursor: pointer;
  margin-right: 0px;
  padding-left: 0px;
  display: block;
}

.timeline-marker {
  position: absolute;
  width: 16px;
  height: 16px;
  background: white;
  border: 3px solid rgb(0, 26, 114);
  border-radius: 50%;
  z-index: 3;
  top: 15px;
}

.timeline-event-left .timeline-marker {
  right: -31.5px;
}

.timeline-event-right .timeline-marker {
  left: -30.5px;
}

.timeline-year {
  position: absolute;
  color: rgb(0, 26, 114);
  font-weight: bold;
  font-size: 14px;
  white-space: nowrap;
  z-index: 1;
  padding: 2px 8px;
  background: white;
  border-radius: 15px;
  top: 14px;
}

.timeline-event-left .timeline-year {
  right: -75px;
}

.timeline-event-right .timeline-year {
  left: -75px;
}

.timeline-event-title {
  color: #333c56;
  font-size: 1.2rem;
  margin: 5px 0;
  padding-left: 12px;
}

.timeline-event-date {
  color: #a1908e;
  font-weight: bold;
  font-size: 0.9rem;
  padding-left: 12px;
}

.timeline-event-left .timeline-event-content{
  width: 97%;
}

.timeline-event-text {
  color: #333c56;
  font-size: 0.95rem;
  line-height: 1.4;
  margin-top: 10px;
  padding-left: 12px;
  transition: all 0.3s ease;
  max-height: 500px;
  opacity: 1;
  overflow: visible;
}
.timeline-event-image-wrapper {
  max-height: 0;
  padding-left: 12px;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
  text-align: center;
  margin: 10px 0;
}

.timeline-event-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  cursor: pointer;
}

.timeline-event-content:hover {
  min-height: 250px;
  background: #e8f0fe;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  transform: scale(1.03);
}

.timeline-event-content:hover .timeline-event-text {
  opacity: 1;
  max-height: 500px;
}

.timeline-event-content:hover .timeline-event-image-wrapper {
  max-height: 500px;
}

.timeline-event-content:hover .timeline-event-image {
  opacity: 1;
  transform: translateY(0) scale(1);
}

@media (max-width: 768px) {
  .timeline-line {
    left: 40px;
  }
  
  .timeline-event-left,
  .timeline-event-right {
    width: calc(100% - 60px);
    margin: 0 0 30px 60px;
  }
  
  .timeline-event-left .timeline-marker,
  .timeline-event-right .timeline-marker {
    left: -51px;
    right: auto;
  }
  
  .timeline-event-left .timeline-year,
  .timeline-event-right .timeline-year {
    left: -95px;
    right: auto;
    top: 14px;
  }
}