.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Прозрачный фон с затемнением */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: hidden; /* Чтобы не было полос прокрутки */
}

.modal-content {
    position: relative;
    width: 75vw; /* 75% ширины экрана */
    height: 75vh; /* 75% высоты экрана */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Добавляем отступы, чтобы крестик не обрезался */
    overflow: visible; /* Разрешаем крестику выходить за границы */
    background-color: transparent; /* Делаем фон прозрачным */
    border-radius: 15px;
}

.modal-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ограничиваем контейнер изображением */
    border-radius: 15px;
}

.modal-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Изображение будет растягиваться, но сохранять пропорции */
}

.modal-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Темный полупрозрачный фон */
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 0.9em;
    box-sizing: border-box;
    height: auto;
    max-height: 20%;
    overflow-y: auto;
}

.close-button {
    position: absolute;
    top: 5px; /* Увеличиваем отступ, чтобы крестик выходил за границы */
    right: 5px; /* Увеличиваем отступ, чтобы крестик выходил за границы */
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 40px; /* Увеличиваем размер крестика */
    height: 40px; /* Увеличиваем размер крестика */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1001; /* Убедимся, что кнопка находится поверх изображения */
    transition: background-color 0.3s ease;
}

.close-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.close-button svg {
    width: 20px; /* Увеличиваем размер иконки */
    height: 20px; /* Увеличиваем размер иконки */
    fill: #333;
}
