.app-container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 40px;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
}

.form-group label {
  color: #555;
}

.form-group {
  color: #fff;
}


@media (max-width: 768px) {
  .app-container{
    padding-top: 20px;
  }
}