.menu-dropdown-overlay {
    position: fixed;
    top: 120px; /* Фиксированная высота хедера */
    left: 0;
    width: 100%;
    height: calc(100vh - 80px); /* Высота оверлея с учетом хедера */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
  }
  
  .side-menu {
    position: fixed;
    top: 80px; /* Фиксированная высота хедера */
    right: 0;
    width: 280px;
    height: calc(100vh - 80px); /* Высота меню с учетом хедера */
    background-color: #ffffff;
    box-shadow: -2px 0 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
    z-index: 1002;
  }
  
  .side-menu.open {
    transform: translateX(0);
  }

.side-menu h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 2px solid rgb(0, 0, 114);
}

.menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-items li {
    margin: 15px 0;
}

.menu-items li a {
    width: 100%;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.menu-items li a:hover {
    background-color: rgb(0, 0, 0, 114);
    color: #fff;
}

@media (max-width: 768px) {
    .side-menu {
        width: 70%;
        padding: 15px;
    }

    .menu-items li a {
        font-size: 16px;
        padding: 8px 12px;
    }
}
